# IGNORE THE FOLLOWING FOLDERS:
Archived_Rmarkdown/
admin_stuff/
general_model_electoral_reform/
literature/
polarization/
covid_election_timing/
mandate_divide/

#template/


# Ignore files ending in tilde:

*~

# macOS Files

.DS_Store

# R History

.Rhistory

# .RData

.RData

# Ignore .obsdian files
.obsidian

# Ignore .doc(x) files
.doc
.docx
**/*.doc
**/*.docx

# Ignore .pdf files
.pdf
**/*.pdf

# Ignore admin stuff
admin_stuff/
