# Ignore files ending in tilde:

*~

#*.synctex*.gz 

*.synctex*.gz 

# Files created by TexStudio

*.bbl
*.bcf
*.blg

*.xml
*.out



# *.aux

*.aux

# *.log

*.log


# *.pdf
*.pdf

# *.dvi
*.dvi

# miscellaneous file extension

*.save
